[submodule "oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/.vim/plugged/vim-airline-themes"]
	path = vim/.vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
